
<!DOCTYPE html>

<div class="form-control">
    <table style="border-radius:0px;box-shadow:none;">
        <tr>
            <td><label>Name:</label></td>
            <td><input class="form-control form-control-lg" type="text" ng-model="country"></td>
        </tr>
        <tr>
            <td><label>Population:</label></td>
            <td><input class="form-control" type="number" ng-model="population"></td>
        </tr>

    </table>
    
    
    <a class="btn btn-default" ng-click="ekle()" id="insert">Insert</a>

</div>
