

    <div class="form-control" ng-controller="editCtrl">

        <input class="form-control form-control-lg" type="text" ng-model="country.name">
        <input class="form-control" type="text" ng-model="country.population">
        <a class="btn btn-default" ng-click="guncelle()" id="Eadd">Update</a>

    </div>

